@model IEnumerable<PartyInvites.Models.GuestResponse>

<!DOCTYPE html>

<html>
<head>
    <title>Người Tham Gia</title>
    
</head>
<body>
<div>
    <h1>Danh Sách Người Tham Gia</h1>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WillAttend)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WillAttend)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>