@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<button type="button m-3" class="btn btn-primary">
    <a asp-action="Create" class="text-decoration-none text-white">Create</a>
</button>

    @foreach (var product in @Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top" src="~/images/@product.ImageUrl" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.LongDescription</p>
                <a asp-action="OpenUpdate" asp-route-id="@product.Id" class="btn btn-primary">Update</a>
                <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-primary">Delete</a>
            </div>
        </div>
    }
