@model ShoppingOnline.Models.ViewModals.UpdateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Product.Name">Name:</label>
        <input asp-for="@Model.Product.Name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
        <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẽ tên của bạn với bất kỳ ai.</small>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.ShortDescription">ShortDescription:</label>
        <input asp-for="@Model.Product.ShortDescription" type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẽ email của bạn với bất kỳ ai.</small>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.LongDescription">LongDescription: </label>
        <input asp-for="@Model.Product.LongDescription" type="text-area" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Category">Category: </label>
        <input asp-for="@Model.Product.Category" type="text" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Price">Price: </label>
        <input asp-for="@Model.Product.Price" type="number" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Stock">Stock: </label>
        <input asp-for="@Model.Product.Stock" type="number" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.ImageUrl">File: </label>
        <input asp-for="@Model.Product.ImageUrl" type="file" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group p-5">
        <button type="submit" class="btn btn-primary">Tạo</button>
    </div>
</form>