@model ShoppingOnline.Models.ViewModals.UpdateViewModel

@{
    ViewBag.Title = "Update";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="SaveUpdate" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Name">Name:</label>
        <input asp-for="@Model.Name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
    </div>
    <div class="form-group">
        <label asp-for="@Model.ShortDescription">ShortDescription:</label>
        <input asp-for="@Model.ShortDescription" type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label asp-for="@Model.LongDescription">LongDescription: </label>
        <input asp-for="@Model.LongDescription" type="text" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Category">Category: </label>
        <input asp-for="@Model.Category" type="text" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price">Price: </label>
        <input asp-for="@Model.Price" type="number" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Stock">Stock: </label>
        <input asp-for="@Model.Stock" type="number" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Image">File: </label>
        <input asp-for="@Model.Image" type="file" class="form-control" placeholder="PhotoPath">
    </div>
    <div class="form-group p-5">
        <button type="submit" class="btn btn-primary">Tạo</button>
    </div>
</form>